/* Tailwind CSS */
@import "tailwindcss";
/* Flowbite */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
/* plugin */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
    /* color */
   @theme{
    --color-primary: #E7D7BD;
    --color-secondary:#1B1107;
    --color-third:#DCB288;
    /* text */
    --text-description: 18px;
    --text-head: 20px;
    --text-title: 40px;
    --text-main: 60px;
}
/* dark */
@custom-variant dark (&:where(.dark, .dark *));